# Ex1 - Filtrar y ordenar datos


### Paso 1. Importar las bibliotecas necesarias

In [3]:
import numpy as np
import pandas as pd

### Paso 2. Importa el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asígnalos a una variable llamada chipo.

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep="\t")

### Paso 3. Nombre del producto de valor máximo

In [5]:
chipo["item_price"] = chipo["item_price"].str.replace(r"\$", " ").astype(float)

C:\Users\arica\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [6]:
chipo.groupby("item_name")[["item_price"]].max().sort_values(by = ["item_price"], ascending=False)

                                       item_price
item_name
Chips and Fresh Tomato Salsa                44.25
Carnitas Bowl                               35.25
Chicken Burrito                             35.00
Veggie Burrito                              33.75
Chicken Bowl                                32.94
Steak Burrito                               27.75
Steak Bowl                                  26.07
Steak Salad Bowl                            23.78
Chicken Salad Bowl                          22.50
Bowl                                        22.20
Chicken Soft Tacos                          21.96
Steak Soft Tacos                            18.50
Carnitas Burrito                            18.50
Barbacoa Crispy Tacos                       18.50
Steak Crispy Tacos                          17.98
Carnitas Crispy Tacos                       17.98
Chips and Guacamole                         17.80
Chicken Crispy Tacos                        17.50
Veggie Bowl                                 16.98
Veggie Soft Tacos                           16.98
Bottled Water                               15.00
Side of Chips                               13.52
6 Pack Soft Drink                           12.98
Carnitas Salad Bowl                         11.89
Barbacoa Salad Bowl                         11.89
Carnitas Soft Tacos                         11.75
Barbacoa Burrito                            11.75
Barbacoa Bowl                               11.75
Barbacoa Soft Tacos                         11.75
Veggie Salad Bowl                           11.25
Chicken Salad                               10.98
Carnitas Salad                               8.99
Steak Salad                                  8.99
Veggie Salad                                 8.49
Veggie Crispy Tacos                          8.49
Burrito                                      7.40
Crispy Tacos                                 7.40
Salad                                        7.40
Chips and Tomatillo-Red Chili Salsa          7.17
Nantucket Nectar                             6.78
Chips                                        6.45
Chips and Roasted Chili Corn Salsa           5.90
Chips and Tomatillo Green Chili Salsa        5.90
Chips and Tomatillo Red Chili Salsa          5.90
Canned Soft Drink                            5.00
Chips and Tomatillo-Green Chili Salsa        4.78
Canned Soda                                  4.36
Izze                                         3.39
Chips and Mild Fresh Tomato Salsa            3.00
Chips and Roasted Chili-Corn Salsa           2.39

### Paso 4. ¿Cuántos productos cuestan más de 10 dólares?

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [7]:
def filter_func(x):
    return x ["item_price"] > 10

print(filter_func(chipo).count())

4622

In [11]:
chipo[chipo.item_price > 10].shape

(1130, 5)

In [14]:
chipo[chipo.item_price > 10].nunique()

order_id              863
quantity                8
item_name              31
choice_description    492
item_price             35
dtype: int64

In [15]:
chipo[chipo.item_price > 10]['order_id'].nunique()

863

In [16]:
chipo[chipo.item_price > 10]['order_id'].value_counts()

691     8
1786    7
1559    5
491     5
577     5
       ..
704     1
705     1
707     1
712     1
1834    1
Name: order_id, Length: 863, dtype: int64

### Paso 6. Ordenar por el nombre del artículo

In [ ]:
chipo["item_name"].sort_values(ascending=True)

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Paso 7. ¿Cuál fue la cantidad del artículo más caro pedido? 2 formas

In [ ]:
chipo.groupby("item_price")[["quantity"]].max()

            quantity
item_price
1.09               1
1.25               1
1.50               1
1.69               1
1.99               1
...              ...
32.94              3
33.75              3
35.00              4
35.25              3
44.25             15

[78 rows x 1 columns]

In [17]:
chipo.sort_values(by='item_name',ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Paso 8. ¿Cuántas veces se pidió una Veggie Salad Bowl?

In [ ]:
veggie = chipo[chipo["item_name"] == "Veggie Salad Bowl"]
#print(veggie)
veggie["quantity"].sum()

18

### Paso 9. ¿Cuántas veces pidió alguien más de un Canned Soda?

In [23]:
canned = chipo[(chipo["item_name"] == "Canned Soda") & (chipo['quantity'] > 1)]

# canned[canned ["quantity"] > 1].sum()
canned

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [24]:
canned.shape

(20, 5)

In [19]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape

(20, 5)