# Regimientos

In [2]:
import pandas as pd

### Paso 2. Crear el DataFrame con los siguientes valores:

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asignar a una variable llamada regimiento.

In [4]:
regimiento = pd.DataFrame(raw_data)

In [5]:
regimiento.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Paso 4. ¿Cuál es la puntuación media de preTestScore del regimiento Nighthawks?

In [6]:
regimiento[regimiento["regiment"] == "Nighthawks"]["preTestScore"].mean()

15.25


### Paso 5. Presentar las estadísticas generales por compañía

In [7]:
regimiento[["company"]].describe()

       company
count       12
unique       2
top        1st
freq         6

### Paso 6. ¿Cuál es la media de las puntuaciones preTestScore de cada empresa?

In [8]:
regimiento.groupby("regiment")["preTestScore"].mean()

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

### Paso 7. Muestra las puntuaciones medias de preTestScore agrupadas por regimiento y compañía

In [9]:
regimiento.groupby(["regiment", "company"])["preTestScore"].mean()

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Paso 8. Presentar la media de las puntuaciones preTestScores agrupadas por regimiento y compañía sin usar indexación heirárquica

In [12]:
regimiento.pivot_table('preTestScore', index='regiment', columns='company')

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

In [13]:
regimiento.groupby(['regiment', 'company']).preTestScore.mean().unstack()

company      1st   2nd
regiment
Dragoons     3.5  27.5
Nighthawks  14.0  16.5
Scouts       2.5   2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [14]:
multi_regi = regimiento.set_index(["regiment", "company"])
multi_regi.sort_index()

                        name  preTestScore  postTestScore
regiment   company
Dragoons   1st         Cooze             3             70
           1st         Jacon             4             25
           2nd        Ryaner            24             94
           2nd          Sone            31             57
Nighthawks 1st        Miller             4             25
           1st      Jacobson            24             94
           2nd           Ali            31             57
           2nd        Milner             2             62
Scouts     1st         Sloan             2             62
           1st         Piger             3             70
           2nd         Riani             2             62
           2nd           Ali             3             70

### Paso 10. Cuál es el número de observaciones en cada regimiento y compañía

In [15]:
regimiento.groupby(['company', 'regiment']).size().unstack()

regiment  Dragoons  Nighthawks  Scouts
company
1st              2           2       2
2nd              2           2       2

### Paso 11. Iterar sobre un grupo e imprimir el nombre y los datos completos del regimiento.

In [20]:
grupo = regimiento.groupby('regiment')
for e in grupo:
    print(e)

('Dragoons',    regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57)
('Nighthawks',      regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62)
('Scouts',    regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70)